terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform/*
live/stage/data-stores/mysql/.terraform/providers/registry.terraform.io/hashicorp/aws/4.48.0/windows_386/terraform-provider-aws_v4.48.0_x5.exe
live/prod/services/webserver-cluster/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_386/terraform-provider-template_v2.2.0_x4.exe
live/prod/services/webserver-cluster/.terraform/providers/registry.terraform.io/hashicorp/aws/4.48.0/windows_386/terraform-provider-aws_v4.48.0_x5.exe
stage/data-stores/mysql/.terraform/providers/registry.terraform.io/hashicorp/aws/4.48.0/windows_amd64/terraform-provider-aws_v4.48.0_x5.exe
stage/service/webserver-cluster/.terraform/providers/registry.terraform.io/hashicorp/aws/4.48.0/windows_amd64/terraform-provider-aws_v4.48.0_x5.exe
